<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A p p N a m e .</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

          <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <!--
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
        --> 
            <h1 class="logo">
            <span role="img" aria-label="money">💸</span>
            A p p N a m e .
            </h1> 
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {{#if logged_in}}
                    {{!-- <a href="/profile">profile</a> --}}
                    <button class="button" id="logout">logout</button>
                    {{else}}
                    <a class="button is-light" href="/register">Register now!</a>
                    {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">A p p N a m e!</a>
      </h1>
      <nav>
        -->
        <!-- Conditionally render login or logout links -->

        <!--
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
      -->
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}


</body>

</html>

