<link rel="stylesheet" href="/css/confirm.css">

<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div id="login-form">
      <h1 class="title colored has-text-justified">We are almost there!</h1>
   <div class="img" id="imgcode">
      <object data="./img/recover.svg" width="300px"></object>
      </div>
      <div class="column has-background-white has-text-weight-bold">
        <label for="password">Introduce Recovery Code</label>
        <input id="code" class="input is-primary" type="string" placeholder="6-digit Code">
      </div>
      <div class="column has-background-white has-text-weight-bold">
        <label for="password">Introduce new password</label>
        <input id="password" class="input is-primary" type="password" placeholder="New password">
      </div>
      <div class="column has-background-white has-text-weight-bold">
        <label for="password-confirmation">Confirm your new password</label>
        <input id="passwordConf" class="input is-primary" type="password" placeholder="Confirm the password">
      </div>
      <div class="column">
        <button id="recover" class="button is-primary is-fullwidth has-text-weight-bold" type="submit">Recover</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/recover.js"></script>

{{!--
Añadir la ruta del script adecuado
<script src="./js/login.js"></script>
--}}

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>