<div class="hero is-fullheight">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div id="login-form">
      <div class="column">
        <label for="password">Introduce new password</label>
        <input id="password" class="input is-primary" type="password" placeholder="New password">
      </div>
      <div class="column">
        <label for="password-confirmation">Confirm your new password</label>
        <input id="password-confirmation" class="input is-primary" type="password" placeholder="Confirm the password">
      </div>
    </div>
  </div>
</div>

{{!-- 
Añadir la ruta del script adecuado
<script src="./js/login.js"></script> 
--}}

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>
