<link rel="stylesheet" href="/css/recovery.css">

<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
            <div id="confirmation-form">
            <div class="column">
                <h1 class="title colored has-text-centered">We all forget things, don't worry!</h1>
                  <div class="img" id="imgreco">
                <object data="./img/forgot.svg" width="300px"></object></div>
                <label for="send-mail" class="has-text-weight-bold">Introduce Email to send recovery code:</label>
                <input id="email" class="input is-primary" type="email" placeholder="Email">
            </div>
            <div class="column">
                <button id="confirm" class="button is-primary is-fullwidth has-text-weight-bold" type="submit">Enter</button>
            </div>
        </div>
    </div>
</div>

<script src="./js/sendemail.js"></script>

{{!--
Añadir la ruta del script adecuado
<script src="./js/login.js"></script>
--}}

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>