<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <div id="signup-form">
            <h1 class="title">Sign up</h1>
            <p class="subtitle">Create your account</p>
            <div class="column">
                <label class="label">Email</label>
                <input id="email-signup" class="input is-primary" type="text" placeholder="Email address">
            </div>
            <div class="column">
                <label class="username">Username</label>
                <input id="username-signup" class="input is-primary" type="text" placeholder="Username">
            </div>
            <div class="column">
                <label class="password">Password</label>
                <input id="password-signup" class="input is-primary" type="password" placeholder="password">
            </div>
            <div class="column">
                <label class="password">Confirm Password</label>
                <input id="password" class="input is-primary" type="password" placeholder="password">
            </div>
            <div class="column">
                <button id="signup" class="button is-primary is-fullwidth" type="submit">Sign up!</button>
            </div>
            <div class="has-text-centered">
                <p class="is-size-7">Already have an account? 
                    <a href="/login" class="has-text-primary" id="signup-link">Sign up</a>
                </p>
            </div>
        </div>
   </div>
</div> 

<script src="./js/signup.js"></script>

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>


