<div class="container">
    <h1 class="title">Sign up</h1>
    <p class="subtitle">Create your account</p>

<div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Text input" value="Create your Username">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
    </div>

<div class="field">
    <label class="label">Create password</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Text input" value="Password">
        <span class="icon is-small is-left">
            <i class="fa-solid fa-lock"></i>
          </span>
    </div>
</div>

<div class="field">
    <label class="label">Confirm password</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Text input" value="Password">
        <span class="icon is-small is-left">
            <i class="fa-solid fa-lock"></i>
          </span>
    </div>
</div>

<div class="control">
    <button class="button is-primary">Sign up</button>
</div>

<div class="text">
    <p>Already have an account? <a href="login.php">Login here!</a></p>
</div>

</div>

<script src="https://kit.fontawesome.com/51d0cae634.js" crossorigin="anonymous"></script>