:root {
    --brandColor: hsl(166, 67%, 51%);
    --background: #45BF78;
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  body {
    background: var(--background);
    height: 100vh;
    color: var(--textDark);
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 10rem;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 4.5rem;
  }

  .left {
    border-radius: 50px 0 0 0;
    background-color: rgba(255, 255, 255, .5);
}

  .right {
    border-radius: 0 50px 0 0;
    background-color: white;
  }

 


@import 'bulma/css/bulma.css'